<div class="container">
  <!-- Todo List Display -->
  <ul>
    <li *ngFor="let todo of todos">
      <p-checkbox [label]="todo.title" [(ngModel)]="todo.isCompleted" [binary]="true" (onChange)="toggleTodoComplete(todo)"></p-checkbox>
      <button (click)="removeTodo(todo)" class="delete-btn">
        <i class="pi pi-trash"></i> <!-- Using PrimeIcons -->
      </button>
    </li>
  </ul>

  <!-- Form to Add New Todo -->
  <div class="add-todo-container">
    <input type="text" pInputText [(ngModel)]="newTodo.title" placeholder="Write down your tasks...">
    <button pButton type="button" label="Add" (click)="addTodo()" class="add-btn"></button>
  </div>


<!-- Error Message Display -->
<div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>